<style>

#bg {
  background-color: #3366cc;
}

button {
     background-color: #003300;
     color: #FFFFFF;
     font-size: 22px;
     width: 37px;
     height: 37px;
     border-radius: 10px;
     margin:5px;
 }

 input {
   background-color: #333333;
   color: #FFFFFF;
   font-size: 22px;
   height: 37px;
   border-radius: 10px;
   margin:5px;
 }

#vortMalantaŭKoloro
{
border-radius: 7px 7px 7px 7px;
background-color: LightSeaGreen;
padding: 5px
}

#mk1
{
border-radius: 7px 7px 7px 7px;
background-color: SeaGreen;
padding: 5px
}

h2
{
  color: brown;
  text-align: center;
  font-size: 32px;
  font-family: verdana;
  color: lightyellow;
  }

p
{
  font-family: verdana;
  font-size: 42px;
  text-align: center;
  color: #000000
}

p1
{
  font-family: verdana;
  font-size: 14px;
  text-align: center;
}

p2
{
  font-family: verdana;
  font-size: 24px;
  text-align: center;
  color: black;
}

</style>
