body {
  background-color: lemonchiffon;
}

button
{
   background-color: #003300;
   color: #FFFFFF;
   font-size: 22px;
   width: 37px;
   height: 37px;
   border-radius: 10px;
   margin:6px;
 }

 input {
   background-color: #003300;
   color: #FFFFFF;
   font-size: 22px;
   height: 37px;
   border-radius: 10px;
   margin:5px;
 }

#vortMalantaŭKoloro
{
  border-radius: 7px 7px 7px 7px;
  background-color: LightSeaGreen;
  height: 80px;
  padding: 5px
}

#mk1
{
  border-radius: 7px 7px 7px 7px;
  background-color: SeaGreen;
  padding: 5px
}

#mk2
{
  border-radius: 7px 7px 7px 7px;
  background-color: SeaGreen;
  padding: 5px
}


p1
{
  font-family: verdana;
  color: white;
  font-size: 42px;
  text-align: center
}

p2
{
  font-family: verdana;
  color: black;
  font-size: 42px;
  text-align: center
}

p3
{
  font-family: verdana;
  color: white;
  font-size: 24px;
  text-align: center
}

p4
{
  font-family: verdana;
  color: black;
  font-size: 24px;
  text-align: center
}

p5
{
  font-family: verdana;
  color: white;
  font-size: 16px;
  text-align: center
}

#selekto
{
  font-family: verdana;
  color: khaki;
  font-size: 20px;
  background: royalblue;
}
